.image {
    margin-left: 700px;
    width: 500px;
    /* background-image: url(https://cdn.prod.website-files.com/6170700f1a1db6b3a0ac16ed/617938cf58e87917dc7a61ec_woman-planes.png); */
}

.collor{
color: #df6951;
font-size: 30px;
font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
margin-left: 80px;
}


